# Dependencies
node_modules

# Logs
npm-debug.log
*.log

# Git
.git
.gitignore

# Environment files with secrets
.env
.env.*
.env.local

# Uploads
uploads/photos/*
!uploads/photos/.gitkeep

# Documentation
*.md
LICENSE

# IDE
.idea/
.vscode/
